body {
    background: linear-gradient(90deg, rgb(5, 5, 252), rgb(178, 162, 250));
    font-family: Arial, Helvetica, sans-serif;
}

.login__card, 
.card {
    height: 350px;
    width: 450px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 160px;
    padding: 15px;
}
.card {
    margin-top: 10px;
    height: 670px;
}
.login__titulo {
    font-size: 40px;
    margin-bottom: 30px;
}

input[type=text],
input[type=email],
input[type=password] {
    margin: 0 auto;
    background: none;
    color: #C6C6C6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid black;
}
.icon img{
    margin-top: 25px;
}
input[type=text]:focus, 
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
}

.login__buton,
.registro__buton{
    margin-top: 10px;
    width: 100px;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 5px;
}

a {
    text-decoration: none;
    font-size: 15px;
}

#cedula{
    display: none;
}