<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enfermedades</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <h1>ENFERMEDADES</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">EDAD</th>
                <th scope="col">SEXO</th>
                <th scope="col">PESO</th>
                <th scope="col">TALLA</th>
                <th scope="col">SEDENTARIO</th>
                <th scope="col">INSTRUCCION</th>
                <th scope="col">TAS</th>
                <th scope="col">TAD</th>
                <th scope="col">HTA_CONOCIDA</th>
                <th scope="col">HTA_OMS</th>
                <th scope="col">A_DIAB</th>
                <th scope="col">ECV_B</th>
                <th scope="col">TABACO</th>
                <th scope="col">ALCOHOL</th>
                <th scope="col">STATIN</th>
                <th scope="col">CINTURA</th>
                <th scope="col">CADERA</th>
                <th scope="col">OBCENT_ATP</th>
                <th scope="col">COLESTEROL</th>
                <th scope="col">HDL</th>
                <th scope="col">LDL</th>
                <th scope="col">LDL_C</th>
                <th scope="col">TG</th>
                <th scope="col">CNOHDL</th>
                <th scope="col">APOA</th>
                <th scope="col">APOB</th>
                <th scope="col">LPA</th>
                <th scope="col">A1C</th>
                <th scope="col">HBA1</th>
                <th scope="col">CREATININA</th>
                <th scope="col">GLUCB</th>
                <th scope="col">SOG</th>
                <th scope="col">TOL_GLUCOSA</th>
                <th scope="col">DM</th>
                <th scope="col">CONOCIDA</th>
                <th scope="col">SM</th>
                <th scope="col">PCR</th>
                <th scope="col">INSULINEMIA</th>
                <th scope="col">PAI_1</th>
                <th scope="col">FVW</th>
                <th scope="col">FIBRI</th>
                <th scope="col">HMC</th>
                <th scope="col">HOMA</th>
                <th scope="col">IR</th>
                <th scope="col">ECNOS</th>
                <th scope="col">PPR</th>
                <th scope="col">FIBRATOS</th>
                <th scope="col">CETP</th>
                <th scope="col">PON_192</th>
                <th scope="col">HTA_IDF</th>
            </tr>
        </thead>
        <tbody>
            {% for enfermedad in enfermadades %}
                <tr>
                    <th scope="row">{{ enfermedad[0] }}</th>
                    <td>{{ enfermedad[1] }}</td>
                    <td>{{ enfermedad[2] }}</td>
                    <td>{{ enfermedad[3] }}</td>
                    <td>{{ enfermedad[4] }}</td>
                    <td>{{ enfermedad[5] }}</td>
                    <td>{{ enfermedad[6] }}</td>
                    <td>{{ enfermedad[7] }}</td>
                    <td>{{ enfermedad[8] }}</td>
                    <td>{{ enfermedad[9] }}</td>
                    <td>{{ enfermedad[10] }}</td>
                    <td>{{ enfermedad[11] }}</td>
                    <td>{{ enfermedad[12] }}</td>
                    <td>{{ enfermedad[13] }}</td>
                    <td>{{ enfermedad[14] }}</td>
                    <td>{{ enfermedad[15] }}</td>
                    <td>{{ enfermedad[16] }}</td>
                    <td>{{ enfermedad[17] }}</td>
                    <td>{{ enfermedad[18] }}</td>
                    <td>{{ enfermedad[19] }}</td>
                    <td>{{ enfermedad[20] }}</td>
                    <td>{{ enfermedad[21] }}</td>
                    <td>{{ enfermedad[22] }}</td>
                    <td>{{ enfermedad[23] }}</td>
                    <td>{{ enfermedad[24] }}</td>
                    <td>{{ enfermedad[25] }}</td>
                    <td>{{ enfermedad[26] }}</td>
                    <td>{{ enfermedad[27] }}</td>
                    <td>{{ enfermedad[28] }}</td>
                    <td>{{ enfermedad[29] }}</td>
                    <td>{{ enfermedad[30] }}</td>
                    <td>{{ enfermedad[31] }}</td>
                    <td>{{ enfermedad[32] }}</td>
                    <td>{{ enfermedad[33] }}</td>
                    <td>{{ enfermedad[34] }}</td>
                    <td>{{ enfermedad[35] }}</td>
                    <td>{{ enfermedad[36] }}</td>
                    <td>{{ enfermedad[37] }}</td>
                    <td>{{ enfermedad[38] }}</td>
                    <td>{{ enfermedad[39] }}</td>
                    <td>{{ enfermedad[40] }}</td>
                    <td>{{ enfermedad[41] }}</td>
                    <td>{{ enfermedad[42] }}</td>
                    <td>{{ enfermedad[43] }}</td>
                    <td>{{ enfermedad[44] }}</td>
                    <td>{{ enfermedad[45] }}</td>
                    <td>{{ enfermedad[46] }}</td>
                    <td>{{ enfermedad[47] }}</td>
                    <td>{{ enfermedad[48] }}</td>
                    <td>{{ enfermedad[49] }}</td>
                    <td>{{ enfermedad[50] }}</td>
                    <td>{{ enfermedad[51] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>